<div class="top">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <%= image_tag("焚火.png", class: "top_image") %>
        <div class="top_letter">炎と過ごすひとときを<br/><span>Bonfire Life</span></div>
      </div>
    </div>
  </div>
  <div class="row top_main">
    <div class="col-sm-5">
      <div><%= image_tag("焚き火.png", class: "row_image") %></div>
    </div>
    <div class="col-sm-5">
      <div class="main_letter">
        <h4 class="mt-3">ようこそBonfire Lifeへ</h4>
        <div class="mt-4">「キャンプをより楽しみたい」</div>
        <div>「あの焚き火台で焚き火をしたいが、購入額が高くて手を出しにくい」</div>
        <div>「保管するための置き場所がない」</div>
        <div>「あの気になる焚き火台を使ってみたい」</div>
        <div>そのような声から生まれた焚き火台レンタルアプリです</div>
        <div class="mt-4">
          野外にて焚き火台を囲み、火を持続させ、揺らめく炎を見つめる<br/>
          和やかで安らぎのある時間をお楽しみいただけます
        </div>
        <div class="mt-4">
          年中通してキャンプ初心者からベテランキャンパーの方にも<br/>
          ぜひご利用頂きたいと思っております。
        </div>
        <div class="mt-5"><%= link_to "レンタル商品一覧はこちら", products_path, class: "top_link" %></div>
      </div>
    </div>
  </div>
  <div class="letter mb-5">これからのキャンプ、レンタル焚き火台で一味違う楽しみを！</div>
</div>