
 .image {
     height: 200px;
     width: 200px;
 }

 .index_photo {
     width: 250px;
     &:hover {
         opacity: 0.5;
     }
 }
 
 .flex {
     display: flex;
     flex-wrap: wrap;
    //  justify-content: center;
     justify-content: space-between;
     width: 900px;
 }

 .flex::after{
    content:"";
    display: block;
    width: 33%;
  }

 .index_container {
     width: 300px;
     height: 350px;
     justify-content: center;
 }

 .photo_box {
     width: 95%;
     height: 750px;
     .main_image {
        width: 100%;
        border: solid 1px rgb(112, 112, 112);
     }
     .image_list {
        width: 100px;
        margin: 10px;
        border: solid 1px rgb(110, 110, 110);
     }
     .image-flex {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         padding: 0;
     }
 }

 .search {
     border: solid 1px #000000;
     width: 235px;
     height: 420px;
     padding: 30px;
     grid-column: 2 / 3;
 }

.table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #dee2e6;
    .tr {
        border-top: solid 1px #dee2e6;
        }
    td {
        border: solid 1px #dee2e6;
    }
  }

.product_form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #aaa;
    text-align: center;
    table {
        width: 70%;
        // margin-left: auto;
        // margin-right: auto;
        margin-left: auto 0;
    }
}