
 .image {
     height: 200px;
     width: 200px;
 }

 .index_photo {
     width: 250px;
     &:hover {
         opacity: 0.5;
     }
 }
 
 .flex {
     display: flex;
     flex-wrap: wrap;
    //  justify-content: center;
     justify-content: space-between;
     width: 900px;
 }

 .flex::after{
    content:"";
    display: block;
    width: 33%;
  }

 .index_container {
     width: 300px;
     height: 350px;
     justify-content: center;
 }

 .photo_box {
     width: 95%;
     height: 750px;
     .main_image {
        width: 100%;
        border: solid 1px rgb(112, 112, 112);
     }
     .image_list {
        width: 100px;
        margin: 10px;
        border: solid 1px rgb(110, 110, 110);
     }
     .image-flex {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         padding: 0;
     }
 }

 .search {
     border: solid 1px #000000;
     width: 235px;
     height: 420px;
     padding: 30px;
     .search_form {
         width: 80%
     }
 }

.table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #dee2e6;
    .tr {
        border-top: solid 1px #dee2e6;
        }
    td {
        border: solid 1px #dee2e6;
    }
  }

.new_product {
    display: flex;
    justify-content: center;
    .product_form {
        border: 1px solid #aaa;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        padding-bottom: 30px;
        background-color: #ffffff;
        .form_btn {
            margin: 30px;
            width: 50%;
        }
        .form_group {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            // width: 100%;
            width: 600px;
            span, label {
                float: left;
            }
            textarea {
                width: 100%;
                height: 200px;
            }
            textarea:required {
                color: #630015;
                border-color: #c20c33;
                background-color: #ffd9e1;
            }
            input {
                width: 100%;
            }
            input:invalid {
                border: solid 1px red;
              }
        }
    }
}
